<!-- 
education:
 - level: Bachelor's Degree
   date: 2021
   subject: Computer Engineering
   school: Universitat Autònoma de Barcelona
-->

{% if site.education %}
	<div id="educationBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="education">Education</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="educationBlurb">
				{% for title in site.education %}
					<p>
					<b>{{title.level}} in {{title.subject}}</b> <br>
					Specialization in <b>{{title.Specialization}}</b>	
					{{title.school}} <br>
					{{title.GradDate}}
					</p>
				{% endfor %}
			</div>
			<br>
		</div>
	</div>
{% endif %}
